page-home {

}
//.icon_list {
//
//  float: left;
//  margin-left: 1%;
//}
//.infos {
//  float:right;
//}
.listing {
  padding : 1%;
}
.listItem {
  margin-left: 2%;
}
.listing_item{
  padding: 0;
  margin-left: 1%;
}
.addTabac {
  top: 95% !important;
  margin-left: 20% !important;
}
.contact_support {
  top: 95% !important;
  margin-left: 35% !important;
}
