page-ajout {

}
.cordova-camera-select{
  margin-top: 40%;
  margin-left: 45%;
}

@media screen and (min-device-width: 700px) and (max-device-width: 840px) {
  .cordova-camera-select{
    margin-top: 125%;
    margin-left: 25%;
  }
}
@media screen and (min-device-width: 200px) and (max-device-width: 700px) {
  .cordova-camera-select{
    margin-top: 150%;
    margin-left: 25%;
  }
}
