<!--
  Generated template for the AjoutPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>ajout</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <form (ngSubmit)="logForm()">
    <ion-item>
      <ion-label>Nom</ion-label>
      <ion-input type="text" [(ngModel)]="todo.Nom" name="Nom"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Ville</ion-label>
      <ion-textarea [(ngModel)]="todo.Ville" name="Ville"></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-label>Adresse</ion-label>

      <ion-textarea [(ngModel)]="todo.adresse" name="adresse" default></ion-textarea>

    </ion-item>
    <ion-item>
      <ion-label>Tel</ion-label>
      <ion-textarea [(ngModel)]="todo.Tel" name="Tel"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label>Horaires</ion-label>
      <ion-textarea [(ngModel)]="todo.Horaires" name="horaires"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label>Code postal</ion-label>
      <ion-textarea [(ngModel)]="todo.post_cod" name="post_cod"></ion-textarea>
    </ion-item>

    <button *ngIf="myPhoto != null" ion-button type="submit" block>Ajouter Tabac</button>
  </form>
  <div class="imagePreview" *ngIf="image">
    <img [src]="image" *ngIf="image" />
    <button class="deletePïcture" *ngIf="image" ion-fab mini (click)="deletePicture()">
      <ion-icon name="trash"></ion-icon>
    </button>
  </div>


  <button class="buttonPicture" block (click)="selectPhoto()" [disabled]="disabled">choisis une photo</button>
  <button block (click)="takePhoto()" [disabled]="disabled">Prends une photo</button>
</ion-content>
